<h1>Listing checkinfs</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Checkclass</th>
    <th>Checkform</th>
    <th>User</th>
    <th>Checktime</th>
    <th>Remarkinf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkinfs.each do |checkinf| %>
  <tr>
    <td><%= checkinf.project_id %></td>
    <td><%= checkinf.checkclass_id %></td>
    <td><%= link_to checkinf.checkform, :action => 'download', :filename=>checkinf.file_path%></td>
    <td><%= checkinf.user_id %></td>
    <td><%= checkinf.checktime %></td>
    <td><%= checkinf.remarkinf %></td>
    <td><%= link_to 'Show', checkinf %></td>
    <td><%= link_to 'Edit', edit_checkinf_path(checkinf) %></td>
    <td><%= link_to 'Destroy', checkinf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkinf', new_checkinf_path %>
