<%= form_for(@backup_type) do |f| %>
  <% if @backup_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backup_type.errors.count, "error") %> prohibited this backup_type from being saved:</h2>

      <ul>
      <% @backup_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :backuptypename %><br />
    <%= f.text_field :backuptypename %>
  </div>
  <div class="field">
    <%= f.label :importance %><br />
    <%= f.number_field :importance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
