<%= form_for(@reform, :html=>{:enctype=>'multipart/form-data'}) do |f| %>
  <% if @reform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reform.errors.count, "error") %> prohibited this reform from being saved:</h2>

      <ul>
      <% @reform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
  	<%= f.label :projectname %>
  	<%= collection_select :project, :projname, Project.all, :id, :projname%>
  </div>
  <div class="field">
  	<%= f.label :username%>
  	<%= collection_select :user, :username, User.all, :id, :username%>
  </div>
  <!--提交文件域，提交整改检查表,重构代码以此进行-->
  <div class="field">
  	<%= f.label :reformdoc%>
  	<%= file_field_tag(:img_file_reformdoc, :size=>'33')%>
  </div>
  <div class="field">
    <%= f.label :reformmark %><br />
    <%= f.text_field :reformmark %>
  </div>
  <!--提交文件域，提交每日检查表单,重构代码以此进行-->
  <div class="field">
  	<%= f.label :reformresponse%>
  	<%= file_field_tag(:img_file_reformresponse, :size=>'33')%>
  </div>
  <!--整改通知标签-->
  <div class="field">
  	<%= f.label :reform_types%>
  	<%= collection_select :reform_type, :name, ReformType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :remarkinf %><br />
    <%= f.text_area :remarkinf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
